<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/node.jpg" alt="smoothie recipe icon">
    <h4>JWT</h4>
    <p>web tokens away</p>
  </li>
  <li class="recipe">
    <img src="/node.jpg" alt="smoothie recipe icon">
    <h4>package node js</h4>
    <p>mongoose,ejs,morgan,express</p>
  </li>
  <li class="recipe">
    <img src="/node.jpg" alt="smoothie recipe icon">
    <h4>bcrypt</h4>
    <p>hashing algo,</p>
  </li>
  <li class="recipe">
    <img src="/node.jpg" alt="smoothie recipe icon">
    <h4>mongoDB</h4>
    <p>mongoose,schema, modele</p>
  </li>
  <li class="recipe">
    <img src="/node.jpg" alt="smoothie recipe icon">
    <h4>ejs</h4>
    <p>ejs templates,ejs view engine,html</p>
  </li>
  <li class="recipe">
    <img src="/node.jpg" alt="smoothie recipe icon">
    <h4>middlewars</h4>
    <p>code dans le serveur entre get request and sending a response</p>
  </li>
</ul>

<%- include('partials/footer'); -%>